<a href="https://colab.research.google.com/github/KoGJ95/Lets-Get-IT-Python/blob/main/Lets_get_IT_ch5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###반복문###
"""
형식
for a in data:
  명령어 B
"""

'\n형식\nfor a in data:\n  명령어 B\n'

In [ ]:
for a in [1,2,3,4,5]:
  print(a)

1
2
3
4
5

In [ ]:
for a in [1,2,3,4,5]:
  print('안녕하세요!')

안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!

In [ ]:
for a in [1,2,3,4,5]:
  print(a, "을(를) 저장 중 입니다.")

1 을(를) 저장 중 입니다.
2 을(를) 저장 중 입니다.
3 을(를) 저장 중 입니다.
4 을(를) 저장 중 입니다.
5 을(를) 저장 중 입니다.

In [ ]:
for a in [9,8,7,6,5,4,3,2,1]:
  print(a, '안녕하세요')

9 안녕하세요
8 안녕하세요
7 안녕하세요
6 안녕하세요
5 안녕하세요
4 안녕하세요
3 안녕하세요
2 안녕하세요
1 안녕하세요

In [ ]:
for a in range(1,20):
  print(a, '선생님 다시는 거짓말을 하지 않겠습니다.')
#종료 숫자 -1에서 종료됨.

1 선생님 다시는 거짓말을 하지 않겠습니다.
2 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
6 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
8 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
12 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
14 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
18 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(1,21):
  print(a, '선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
2 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
6 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
8 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
12 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
14 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
18 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.
20 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(0,20):
  print(a+1, '선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
2 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
6 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
8 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
12 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
14 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
18 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.
20 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(20):
  print(a+1, '선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
2 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
6 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
8 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
12 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
14 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
18 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.
20 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(1,20,2):
  print(a,'선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(1,20,3):
  print(a, '선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(1,20,4):
  print(a, '선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for i in range(20):
  print(i, '선생님 다시는 거짓말을 하지 않겠습니다.')

0 선생님 다시는 거짓말을 하지 않겠습니다.
1 선생님 다시는 거짓말을 하지 않겠습니다.
2 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
6 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
8 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
12 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
14 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
18 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
result = 0
for i in range(1,51):
  result += i
print(result)

1275

In [ ]:
result = 0
for i in range(1,51):
  result += i
  print(result)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275

In [ ]:
result = 0
for i in range(1,51):