<a href="https://colab.research.google.com/github/KoGJ95/Lets-Get-IT-Python/blob/main/Lets_get_IT_ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
spending = [25, 36, 8, 53, 24, 56]
print(spending)

[25, 36, 8, 53, 24, 56]

In [ ]:
print(type(spending))

<class 'list'>

In [ ]:
#일년 지출
spending_year = [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
print(type(spending_year), spending_year)
#상반기 지출
spending_6mon = [25, 36, 8, 53, 24, 56]
print(type(spending_6mon), spending_6mon)

<class 'list'> [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
<class 'list'> [25, 36, 8, 53, 24, 56]

In [ ]:
#일년 지출
spending_year = [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
print(len(spending_year))
#상반기 지출
spending_6mon = [25, 36, 8, 53, 24, 56]
print(len(spending_6mon))

12
6

In [ ]:
#좋아하는 음식 리스트 타입
food = ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']
print(food)

['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']

In [ ]:
food = ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']
print('좋아하는 음식 개수 :', len(food))
print('좋아하는 음식 순서 :', food)

좋아하는 음식 개수 : 6
좋아하는 음식 순서 : ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']

In [ ]:
#리스트의 인덱스
spending = [25, 36, 8, 53, 24, 56]
print(spending[0])
print(spending[1])
print(spending[2])
print(spending[3])
print(spending[4])
print(spending[5])

25
36
8
53
24
56

In [ ]:
print('3월 지출 변경 전 :', spending)
spending[2] += 10
print('3월 지출 변경 후 :', spending)

3월 지출 변경 전 : [25, 36, 8, 53, 24, 56]
3월 지출 변경 후 : [25, 36, 18, 53, 24, 56]

In [ ]:
print('5월 지출 변경 전 :', spending)
spending[4] -= 2
print('5월 지출 변경 후 :', spending)

5월 지출 변경 전 : [25, 36, 18, 53, 24, 56]
5월 지출 변경 후 : [25, 36, 18, 53, 22, 56]

In [ ]:
#반복문으로 리스트 다루기
for i in [25, 36, 8, 53, 24, 56]:
  print(i)

25
36
8
53
24
56

In [ ]:
spending = [25, 36, 8, 53, 24, 56]
for s in spending:
  print(s)

25
36
8
53
24
56

In [ ]:
spending = [25, 36, 8, 53, 24, 56,]
for i in range(6):
  print(spending[i])

25
36
8
53
24
56

In [ ]:
spending = [25, 36, 8, 53, 24, 56]
for s in spending:
  print(s)

25
36
8
53
24
56

In [ ]:
#인덱스 사용하기
spending = [25, 46, 8, 53, 24, 56]
for i in range(6):
  print(spending[i])

25
46
8
53
24
56

In [ ]:
for i in range(6):
  print(i + 1, '월 지출은', spending[i])

1 월 지출은 25
2 월 지출은 46
3 월 지출은 8
4 월 지출은 53
5 월 지출은 24
6 월 지출은 56

In [ ]:
for i in range (len(spending)):
  print(i + 1, '월 지출은', spending[i], end =', ')

1 월 지출은 25, 2 월 지출은 46, 3 월 지출은 8, 4 월 지출은 53, 5 월 지출은 24, 6 월 지출은 56,

In [ ]:
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
#가장 좋아하는 음식은?
print(food[0])
#세 번째로 좋아하는 음식은?
print(food[2])
#가장 덜 좋아하는 음식은?
print(food[4])

피자
떡볶이
파스타

In [ ]:
#가장 덜 좋아하는 음식은?
print(food[len(food)- 1])

파스타

In [ ]:
#음수 인덱스 사용하기
#가장 덜 좋아하는 음식은?
print(food[-1])

파스타

In [ ]:
#두 번쨰로 덜 좋아하는 음식은?
print(food[-2])
#세 번째로 덜 좋아하는 음식은?
print(food[-3])

스테이크
떡볶이

In [ ]:
#리스트에 요소 추가하고 삭제하기
#요소 추가하기
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
food.append('감자칩')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩']

In [ ]:
food.append('카레') 
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩', '카레', '카레']

In [ ]:
abc = [] #빈 리스트 만들기
abc.append(24)
abc.append(38)
abc.append(19)
abc.append(40)
print(abc)

[24, 38, 19, 40]

In [ ]:
to_do = []
task = input('해야 할 일을 입력해 주세요 ---> ')
to_do.append(task)
print(to_do)

해야 할 일을 입력해 주세요 ---> 공부
['공부']

In [ ]:
#요소 삭제하기
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
food.remove('떡볶이')
print(food)

['피자', '치킨', '스테이크', '파스타']

In [ ]:
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
del food[-1]
print(food)

['피자', '치킨', '떡볶이', '스테이크']

In [ ]:
#리스트에서 필요한 요소만 꺼내기
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
print(food[0:3])

['피자', '치킨', '떡볶이']

In [ ]:
print(food[2:4])

['떡볶이', '스테이크']

In [ ]:
print(food[:3])

['피자', '치킨', '떡볶이']

In [ ]:
print(food[-2:])

['스테이크', '파스타']

In [2]:
spending_6mon = [25, 36, 8, 53, 24, 56]
print('1월부터 3월 지출:', spending_6mon[:3])
print('3월부터 5월 지출:', spending_6mon[2:5])
print('5월부터 6월 지출:', spending_6mon[-2:])

1월부터 3월 지출: [25, 36, 8]
3월부터 5월 지출: [8, 53, 24]
5월부터 6월 지출: [24, 56]

In [3]:
a = '나는야 우주최강'
print(a[:3])

나는야

In [4]:
print(a[-4:])

우주최강

In [5]:
print(a[-4:-2])

우주

In [6]:
date = '2021-04-15'
print('연도:', date[:4])
print('월:', date[5:7])
print('일:', date[-2:])

연도: 2021
월: 04
일: 15

In [7]:
#문자열 나누기
a ='나는야 우주최강'
print(a.split())

['나는야', '우주최강']

In [8]:
a = '나는야 우주최강'
print(a.split())
print(a.split()[0])
print(a.split()[1])

['나는야', '우주최강']
나는야
우주최강

In [9]:
date = '2021-04-15'
print(date.split('-'))

['2021', '04', '15']

In [11]:
date = '2021-04-15'
print(date.split('-')[0])
print(date.split('-')[1])
print(date.split('-')[2])

2021
04
15

In [12]:
#다양한 리스트 명령어 사용하기
#sort
food = ['피자', '치킨', '스테이크', '된장찌개', '바나나', '파스타', '감자칩']
food.sort()
print('정렬 후:', food)

정렬 후: ['감자칩', '된장찌개', '바나나', '스테이크', '치킨', '파스타', '피자']

In [13]:
food = ['피자', '치킨', '스테이크', '된장찌개', '바나나', '파스타', '감자칩']
food.sort(reverse = True)
print('정렬 후', food)

정렬 후 ['피자', '파스타', '치킨', '스테이크', '바나나', '된장찌개', '감자칩']

In [14]:
spending_6mon = [25, 36, 8, 53, 24, 56]
spending_6mon.sort(reverse = True)
print(spending_6mon[0:2])

[56, 53]