<a href="https://colab.research.google.com/github/KoGJ95/Lets-Get-IT-Python/blob/main/Lets_get_IT_ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
spending = [25, 36, 8, 53, 24, 56]
print(spending)

[25, 36, 8, 53, 24, 56]

In [ ]:
print(type(spending))

<class 'list'>

In [ ]:
#일년 지출
spending_year = [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
print(type(spending_year), spending_year)
#상반기 지출
spending_6mon = [25, 36, 8, 53, 24, 56]
print(type(spending_6mon), spending_6mon)

<class 'list'> [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
<class 'list'> [25, 36, 8, 53, 24, 56]

In [ ]:
#일년 지출
spending_year = [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
print(len(spending_year))
#상반기 지출
spending_6mon = [25, 36, 8, 53, 24, 56]
print(len(spending_6mon))

12
6

In [ ]:
#좋아하는 음식 리스트 타입
food = ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']
print(food)

['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']

In [ ]:
food = ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']
print('좋아하는 음식 개수 :', len(food))
print('좋아하는 음식 순서 :', food)

좋아하는 음식 개수 : 6
좋아하는 음식 순서 : ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']

In [ ]:
#리스트의 인덱스
spending = [25, 36, 8, 53, 24, 56]
print(spending[0])
print(spending[1])
print(spending[2])
print(spending[3])
print(spending[4])
print(spending[5])

25
36
8
53
24
56

In [ ]:
print('3월 지출 변경 전 :', spending)
spending[2] += 10
print('3월 지출 변경 후 :', spending)

3월 지출 변경 전 : [25, 36, 8, 53, 24, 56]
3월 지출 변경 후 : [25, 36, 18, 53, 24, 56]

In [ ]:
print('5월 지출 변경 전 :', spending)
spending[4] -= 2
print('5월 지출 변경 후 :', spending)

5월 지출 변경 전 : [25, 36, 18, 53, 24, 56]
5월 지출 변경 후 : [25, 36, 18, 53, 22, 56]

In [ ]:
#반복문으로 리스트 다루기
for i in [25, 36, 8, 53, 24, 56]:
  print(i)

25
36
8
53
24
56

In [ ]:
spending = [25, 36, 8, 53, 24, 56]
for s in spending:
  print(s)

25
36
8
53
24
56

In [ ]:
spending = [25, 36, 8, 53, 24, 56,]
for i in range(6):
  print(spending[i])

25
36
8
53
24
56

In [1]:
spending = [25, 36, 8, 53, 24, 56]
for s in spending:
  print(s)

25
36
8
53
24
56

In [2]:
#인덱스 사용하기
spending = [25, 46, 8, 53, 24, 56]
for i in range(6):
  print(spending[i])

25
46
8
53
24
56

In [3]:
for i in range(6):
  print(i + 1, '월 지출은', spending[i])

1 월 지출은 25
2 월 지출은 46
3 월 지출은 8
4 월 지출은 53
5 월 지출은 24
6 월 지출은 56

In [5]:
for i in range (len(spending)):
  print(i + 1, '월 지출은', spending[i], end =', ')

1 월 지출은 25, 2 월 지출은 46, 3 월 지출은 8, 4 월 지출은 53, 5 월 지출은 24, 6 월 지출은 56,

In [6]:
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
#가장 좋아하는 음식은?
print(food[0])
#세 번째로 좋아하는 음식은?
print(food[2])
#가장 덜 좋아하는 음식은?
print(food[4])

피자
떡볶이
파스타

In [7]:
#가장 덜 좋아하는 음식은?
print(food[len(food)- 1])

파스타

In [8]:
#음수 인덱스 사용하기
#가장 덜 좋아하는 음식은?
print(food[-1])

파스타

In [9]:
#두 번쨰로 덜 좋아하는 음식은?
print(food[-2])
#세 번째로 덜 좋아하는 음식은?
print(food[-3])

스테이크
떡볶이

In [10]:
#리스트에 요소 추가하고 삭제하기
#요소 추가하기
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
food.append('감자칩')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩']

In [12]:
food.append('카레') 
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩', '카레', '카레']

In [13]:
abc = [] #빈 리스트 만들기
abc.append(24)
abc.append(38)
abc.append(19)
abc.append(40)
print(abc)

[24, 38, 19, 40]

In [14]:
to_do = []
task = input('해야 할 일을 입력해 주세요 ---> ')
to_do.append(task)
print(to_do)

해야 할 일을 입력해 주세요 ---> 공부
['공부']