<a href="https://colab.research.google.com/github/KoGJ95/Lets-Get-IT-Python/blob/main/Lets_get_IT_ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
spending = [25, 36, 8, 53, 24, 56]
print(spending)

[25, 36, 8, 53, 24, 56]

In [ ]:
print(type(spending))

<class 'list'>

In [ ]:
#일년 지출
spending_year = [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
print(type(spending_year), spending_year)
#상반기 지출
spending_6mon = [25, 36, 8, 53, 24, 56]
print(type(spending_6mon), spending_6mon)

<class 'list'> [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
<class 'list'> [25, 36, 8, 53, 24, 56]

In [ ]:
#일년 지출
spending_year = [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
print(len(spending_year))
#상반기 지출
spending_6mon = [25, 36, 8, 53, 24, 56]
print(len(spending_6mon))

12
6

In [ ]:
#좋아하는 음식 리스트 타입
food = ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']
print(food)

['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']

In [ ]:
food = ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']
print('좋아하는 음식 개수 :', len(food))
print('좋아하는 음식 순서 :', food)

좋아하는 음식 개수 : 6
좋아하는 음식 순서 : ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']

In [ ]:
#리스트의 인덱스
spending = [25, 36, 8, 53, 24, 56]
print(spending[0])
print(spending[1])
print(spending[2])
print(spending[3])
print(spending[4])
print(spending[5])

25
36
8
53
24
56

In [ ]:
print('3월 지출 변경 전 :', spending)
spending[2] += 10
print('3월 지출 변경 후 :', spending)

3월 지출 변경 전 : [25, 36, 8, 53, 24, 56]
3월 지출 변경 후 : [25, 36, 18, 53, 24, 56]

In [ ]:
print('5월 지출 변경 전 :', spending)
spending[4] -= 2
print('5월 지출 변경 후 :', spending)

5월 지출 변경 전 : [25, 36, 18, 53, 24, 56]
5월 지출 변경 후 : [25, 36, 18, 53, 22, 56]

In [ ]:
#반복문으로 리스트 다루기
for i in [25, 36, 8, 53, 24, 56]:
  print(i)

25
36
8
53
24
56

In [ ]:
spending = [25, 36, 8, 53, 24, 56]
for s in spending:
  print(s)

25
36
8
53
24
56

In [ ]:
spending = [25, 36, 8, 53, 24, 56,]
for i in range(6):
  print(spending[i])

25
36
8
53
24
56

In [ ]:
spending = [25, 36, 8, 53, 24, 56]
for s in spending:
  print(s)

25
36
8
53
24
56

In [ ]:
#인덱스 사용하기
spending = [25, 46, 8, 53, 24, 56]
for i in range(6):
  print(spending[i])

25
46
8
53
24
56

In [ ]:
for i in range(6):
  print(i + 1, '월 지출은', spending[i])

1 월 지출은 25
2 월 지출은 46
3 월 지출은 8
4 월 지출은 53
5 월 지출은 24
6 월 지출은 56

In [ ]:
for i in range (len(spending)):
  print(i + 1, '월 지출은', spending[i], end =', ')

1 월 지출은 25, 2 월 지출은 46, 3 월 지출은 8, 4 월 지출은 53, 5 월 지출은 24, 6 월 지출은 56,

In [ ]:
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
#가장 좋아하는 음식은?
print(food[0])
#세 번째로 좋아하는 음식은?
print(food[2])
#가장 덜 좋아하는 음식은?
print(food[4])

피자
떡볶이
파스타

In [ ]:
#가장 덜 좋아하는 음식은?
print(food[len(food)- 1])

파스타

In [ ]:
#음수 인덱스 사용하기
#가장 덜 좋아하는 음식은?
print(food[-1])

파스타

In [ ]:
#두 번쨰로 덜 좋아하는 음식은?
print(food[-2])
#세 번째로 덜 좋아하는 음식은?
print(food[-3])

스테이크
떡볶이

In [ ]:
#리스트에 요소 추가하고 삭제하기
#요소 추가하기
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
food.append('감자칩')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩']

In [ ]:
food.append('카레') 
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩', '카레', '카레']

In [ ]:
abc = [] #빈 리스트 만들기
abc.append(24)
abc.append(38)
abc.append(19)
abc.append(40)
print(abc)

[24, 38, 19, 40]

In [ ]:
to_do = []
task = input('해야 할 일을 입력해 주세요 ---> ')
to_do.append(task)
print(to_do)

해야 할 일을 입력해 주세요 ---> 공부
['공부']

In [ ]:
#요소 삭제하기
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
food.remove('떡볶이')
print(food)

['피자', '치킨', '스테이크', '파스타']

In [ ]:
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
del food[-1]
print(food)

['피자', '치킨', '떡볶이', '스테이크']

In [ ]:
#리스트에서 필요한 요소만 꺼내기
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
print(food[0:3])

['피자', '치킨', '떡볶이']

In [ ]:
print(food[2:4])

['떡볶이', '스테이크']

In [ ]:
print(food[:3])

['피자', '치킨', '떡볶이']

In [ ]:
print(food[-2:])

['스테이크', '파스타']

In [ ]:
spending_6mon = [25, 36, 8, 53, 24, 56]
print('1월부터 3월 지출:', spending_6mon[:3])
print('3월부터 5월 지출:', spending_6mon[2:5])
print('5월부터 6월 지출:', spending_6mon[-2:])

1월부터 3월 지출: [25, 36, 8]
3월부터 5월 지출: [8, 53, 24]
5월부터 6월 지출: [24, 56]

In [ ]:
a = '나는야 우주최강'
print(a[:3])

나는야

In [ ]:
print(a[-4:])

우주최강

In [ ]:
print(a[-4:-2])

우주

In [ ]:
date = '2021-04-15'
print('연도:', date[:4])
print('월:', date[5:7])
print('일:', date[-2:])

연도: 2021
월: 04
일: 15

In [ ]:
#문자열 나누기
a ='나는야 우주최강'
print(a.split())

['나는야', '우주최강']

In [ ]:
a = '나는야 우주최강'
print(a.split())
print(a.split()[0])
print(a.split()[1])

['나는야', '우주최강']
나는야
우주최강

In [ ]:
date = '2021-04-15'
print(date.split('-'))

['2021', '04', '15']

In [ ]:
date = '2021-04-15'
print(date.split('-')[0])
print(date.split('-')[1])
print(date.split('-')[2])

2021
04
15

In [ ]:
#다양한 리스트 명령어 사용하기
#sort
food = ['피자', '치킨', '스테이크', '된장찌개', '바나나', '파스타', '감자칩']
food.sort()
print('정렬 후:', food)

정렬 후: ['감자칩', '된장찌개', '바나나', '스테이크', '치킨', '파스타', '피자']

In [ ]:
food = ['피자', '치킨', '스테이크', '된장찌개', '바나나', '파스타', '감자칩']
food.sort(reverse = True)
print('정렬 후', food)

정렬 후 ['피자', '파스타', '치킨', '스테이크', '바나나', '된장찌개', '감자칩']

In [ ]:
spending_6mon = [25, 36, 8, 53, 24, 56]
spending_6mon.sort(reverse = True)
print(spending_6mon[0:2])

[56, 53]

In [2]:
spending_6mon = [25, 36, 8, 53, 24, 56]
spending_6mon.sort(reverse = True)
print(spending_6mon[-2:])

[24, 8]

In [3]:
#최대값, 최솟값 구하기
spending_6mon = [25, 36, 8, 53, 24, 56]
print(max(spending_6mon), min(spending_6mon))

56 8

In [4]:
print(sum(spending_6mon))

202

In [5]:
#인덱스 찾기
print(spending_6mon.index(24))

4

In [6]:
#6.2 제어구조로 리스트 다루기
# 조건문으로 리스트 다루기
food = ['피자', '치킨', '스테이크', '된장찌개']
search = input('찾는 음식은? ')
if search in food:
  print(food.index(search) + 1, '위 입니다.')
else:
  print(search, '은/는 순위에 없습니다.')

찾는 음식은? 피자
1 위 입니다.

In [7]:
history = ['먹방', '강아지', '요리', '댄스']
if '강아지' in history:
  print('강아지를 좋아하시면 고양이 영상도 추천합니다!')
if '댄스' in history:
  print('댄스 영상을 좋아하시면 음악방송 영상도 추천합니다!')

강아지를 좋아하시면 고양이 영상도 추천합니다!
댄스 영상을 좋아하시면 음악방송 영상도 추천합니다!

In [8]:
history = []
for i in range(5):
  history.append(input('시청한 영상은? '))
print('지금까지 시청한 영상은', history)
if '다이어트' in history:
  print('다이어트 영상을 좋아하시면 홈트레이닝 영상도 좋아하실 것 같아요!')
if '뉴스' in history:
  print('뉴스 영상을 좋아하시면 속보 영상도 추천합니다!')

시청한 영상은? 다이어트
시청한 영상은? 게임
시청한 영상은? 음악
시청한 영상은? 뉴스
시청한 영상은? 디지털
지금까지 시청한 영상은 ['다이어트', '게임', '음악', '뉴스', '디지털']
다이어트 영상을 좋아하시면 홈트레이닝 영상도 좋아하실 것 같아요!
뉴스 영상을 좋아하시면 속보 영상도 추천합니다!

In [1]:
import random

score = []
for i in range(25):
    score.append(random.randint(0,100))
    print(score)

[16]
[16, 93]
[16, 93, 93]
[16, 93, 93, 51]
[16, 93, 93, 51, 21]
[16, 93, 93, 51, 21, 44]
[16, 93, 93, 51, 21, 44, 26]
[16, 93, 93, 51, 21, 44, 26, 37]
[16, 93, 93, 51, 21, 44, 26, 37, 38]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61, 24]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61, 24, 81]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61, 24, 81, 59]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61, 24, 81, 59, 11]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61, 24, 81, 59, 11, 96]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61, 24, 81, 59, 11, 96, 53]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61, 24, 81, 59, 11, 96, 53, 19]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61, 24, 81, 59, 11, 96, 53, 19, 10]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61, 24, 81, 59, 11, 96, 53, 19, 10, 39]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61, 24, 81, 59, 11, 96, 53, 19, 10, 39, 91]
[16, 93, 93, 51, 21, 44, 26, 37, 38, 29, 27, 42, 50, 61, 24, 81, 59, 11, 96, 53, 19, 10, 39, 91, 80]

In [4]:
import random
score = []
for i in range(25):
    score.append(random.randint(0,100))
print(score)

print('리스트를 사용해 70점 이상인 점수 출력하기')
for s in score:
    if s >= 70:
        print(score.index(s) + 1, '번', s)

print('인덱스를 사용해 70점 이상인 점수 출력하기')
for i in range(len(score)): #또는 for i in range(25)
    if score[i] >=70:
        print(i + 1, '번', score[i])

[2, 20, 66, 42, 64, 44, 33, 35, 87, 18, 21, 15, 59, 45, 90, 86, 6, 55, 86, 99, 51, 18, 72, 68, 26]
리스트를 사용해 70점 이상인 점수 출력하기
9 번 87
15 번 90
16 번 86
16 번 86
20 번 99
23 번 72
인덱스를 사용해 70점 이상인 점수 출력하기
9 번 87
15 번 90
16 번 86
19 번 86
20 번 99
23 번 72

In [6]:
#리스트로 간단한 프로그램 만들기
line2 = ['성수', '뚝섬',' 한양대', '왕십리', '상왕십리', '신당', '동대문역사문화공원', '을지로4가', '을지로3가', '을지로입구', '시청', '충정로', '아현', '이대',
'신촌', '홍대입구', '합정', '당산', '영등포구청', '문래', '신도림', '대림', '구로디지털단지', '신대방', '신림', '봉천', '서울대입구', '낙성대', '사당', '방배', '서초', '교대', '강남', '역삼', '선릉',
'삼성', '종합운동장', '잠실새내', '잠실', '잠실나루', '강변', '구의', '건대입구']


print('지하철~ ' *4)

for i in range(10):
    station = input()
    if station not in line2:
        print('땡! 해당 역은 2호선이 아닙니다!')
        break

지하철~ 지하철~ 지하철~ 지하철~
땡! 해당 역은 2호선이 아닙니다!

In [8]:
#리스트로 간단한 프로그램 만들기
line2 = ['성수', '뚝섬',' 한양대', '왕십리', '상왕십리', '신당', '동대문역사문화공원', '을지로4가', '을지로3가', '을지로입구', '시청', '충정로', '아현', '이대',
'신촌', '홍대입구', '합정', '당산', '영등포구청', '문래', '신도림', '대림', '구로디지털단지', '신대방', '신림', '봉천', '서울대입구', '낙성대', '사당', '방배', '서초', '교대', '강남', '역삼', '선릉',
'삼성', '종합운동장', '잠실새내', '잠실', '잠실나루', '강변', '구의', '건대입구']


print('지하철~ ' *4)

for i in range(10):
    station = input()
    if station in line2:
        print('정답입니다! 다음 역을 말해주세요!')
    if station not in line2:
        print('땡! 해당 역은 2호선이 아닙니다!')
        break

지하철~ 지하철~ 지하철~ 지하철~
정답입니다! 다음 역을 말해주세요!
정답입니다! 다음 역을 말해주세요!
정답입니다! 다음 역을 말해주세요!
땡! 해당 역은 2호선이 아닙니다!

In [11]:
import random

score = []
A = []
B = []
C = []

for i in range(30):
    score.append(random.randint(0,100))
for i in range (len(score)):
    if score[i] > 80:
        A.append(score[i])
    if score[i] > 40:
        B.append(score[i])
    else:
        C.append(score[i])
print(A)
print(B)
print(C)

[86, 91, 84, 92, 81, 91]
[86, 91, 84, 41, 76, 56, 92, 51, 59, 65, 80, 81, 51, 75, 91, 63]
[22, 13, 11, 17, 8, 26, 11, 7, 38, 15, 7, 40, 30, 24]

In [15]:
#이차원 리스트 만들기
abc = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(abc[0])
print(abc[1])
print(abc[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [20]:
abc = [[1,2,3],[4,5,6],[7,8,9]]
print(abc[0][1])
print(abc[1][2])

2
6

In [27]:
abc = [[1,2],
       [3,4,5,2],
       [7,8,2],
       [2,11]]

print(abc[0][1])
print(abc[1][3])
print(abc[2][2])
print(abc[3][0])

2
2
2
2

In [28]:
#반복문으로 이차원 리스트 만들기
abc = [[1,2,3],[4,5,6],[7,8,9]]

for row in abc:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [7]:
abc = [[1,2,3],[4,5,6],[7,8,9]]

for row in abc:
    print(row[1])

2
5
8

In [8]:
abc = [[1,2,3],[4,5,6],[7,8,9]]

for row in abc:
    print(row[-1])

3
6
9

In [15]:
#이차원 리스트로 간단한 프로그램 만들기(카드 결제 내역)
card = [['2020/03/04','주식회사 카카오페이',1000],
        ['2020/03/03','네이버페이',51100],
        ['2020/03/02','스타벅스코리아',10000],
        ['2020/03/01','11번가',27500],
        ['2020/02/26','주식회사 카카오페이',32500],
        ['2020/02/26','주식회사 카카오페이',32500],
        ['2020/02/22','G마켓',81500],
        ['2020/02/22','네이버페이',131000]]

print(card[0])
print(card[3])

print(card[0][1])
print(card[3][1])

print(card[-1][1], card[-1][-1])

['2020/03/04', '주식회사 카카오페이', 1000]
['2020/03/01', '11번가', 27500]
주식회사 카카오페이
11번가
네이버페이 131000

In [1]:
#이차원 리스트로 간단한 프로그램 만들기(올림픽 순위)
olympic = [[1,'미국',46,37,38,121],
           [2,'영국',27,23,17,67],
           [3,'중국',26,18,26,70],
           [4,'러시아',19,17,19,55],
           [5,'독일',17,10,15,42],
           [6,'일본',12,8,21,41],
           [7,'프랑스',10,18,14,42],
           [8,'대한민국',9,3,9,21]]
print(olympic[0][1],'금매달 개수:', olympic[0][2])
print(olympic[4][1],'금매달 개수:',olympic[4][2])

미국 금매달 개수: 46
독일 금매달 개수: 17

In [5]:
#이차원 리스트 슬라이싱하기
print(olympic[0][1],'금은동 메달 개수:', olympic[0][2:5])
print(olympic[4][1],'금은동 메달 개수:', olympic[4][2:5])

print(olympic[:4])
print(olympic[:4][1])

미국 금은동 메달 개수: [46, 37, 38]
독일 금은동 메달 개수: [17, 10, 15]
[[1, '미국', 46, 37, 38, 121], [2, '영국', 27, 23, 17, 67], [3, '중국', 26, 18, 26, 70], [4, '러시아', 19, 17, 19, 55]]
[2, '영국', 27, 23, 17, 67]