<a href="https://colab.research.google.com/github/KoGJ95/Lets-Get-IT-Python/blob/main/Lets_get_IT_ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
spending = [25, 36, 8, 53, 24, 56]
print(spending)

[25, 36, 8, 53, 24, 56]

In [3]:
print(type(spending))

<class 'list'>

In [4]:
#일년 지출
spending_year = [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
print(type(spending_year), spending_year)
#상반기 지출
spending_6mon = [25, 36, 8, 53, 24, 56]
print(type(spending_6mon), spending_6mon)

<class 'list'> [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
<class 'list'> [25, 36, 8, 53, 24, 56]

In [7]:
#일년 지출
spending_year = [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
print(len(spending_year))
#상반기 지출
spending_6mon = [25, 36, 8, 53, 24, 56]
print(len(spending_6mon))

12
6

In [8]:
#좋아하는 음식 리스트 타입
food = ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']
print(food)

['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']

In [10]:
food = ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']
print('좋아하는 음식 개수 :', len(food))
print('좋아하는 음식 순서 :', food)

좋아하는 음식 개수 : 6
좋아하는 음식 순서 : ['피자', '치킨', '떢볶이', '스테이크', '딸기', '파스타']

In [13]:
#리스트의 인덱스
spending = [25, 36, 8, 53, 24, 56]
print(spending[0])
print(spending[1])
print(spending[2])
print(spending[3])
print(spending[4])
print(spending[5])

25
36
8
53
24
56

In [14]:
print('3월 지출 변경 전 :', spending)
spending[2] += 10
print('3월 지출 변경 후 :', spending)

3월 지출 변경 전 : [25, 36, 8, 53, 24, 56]
3월 지출 변경 후 : [25, 36, 18, 53, 24, 56]

In [15]:
print('5월 지출 변경 전 :', spending)
spending[4] -= 2
print('5월 지출 변경 후 :', spending)

5월 지출 변경 전 : [25, 36, 18, 53, 24, 56]
5월 지출 변경 후 : [25, 36, 18, 53, 22, 56]

In [16]:
#반복문으로 리스트 다루기
for i in [25, 36, 8, 53, 24, 56]:
  print(i)

25
36
8
53
24
56

In [17]:
spending = [25, 36, 8, 53, 24, 56]
for s in spending:
  print(s)

25
36
8
53
24
56