<a href="https://colab.research.google.com/github/KoGJ95/Lets-Get-IT-Python/blob/main/Lets_get_IT_ch5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
###반복문###
"""
형식
for a in data:
  명령어 B
"""

'\n형식\nfor a in data:\n  명령어 B\n'

In [ ]:
for a in [1,2,3,4,5]:
  print(a)

1
2
3
4
5

In [ ]:
for a in [1,2,3,4,5]:
  print('안녕하세요!')

안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!

In [ ]:
for a in [1,2,3,4,5]:
  print(a, "을(를) 저장 중 입니다.")

1 을(를) 저장 중 입니다.
2 을(를) 저장 중 입니다.
3 을(를) 저장 중 입니다.
4 을(를) 저장 중 입니다.
5 을(를) 저장 중 입니다.

In [ ]:
for a in [9,8,7,6,5,4,3,2,1]:
  print(a, '안녕하세요')

9 안녕하세요
8 안녕하세요
7 안녕하세요
6 안녕하세요
5 안녕하세요
4 안녕하세요
3 안녕하세요
2 안녕하세요
1 안녕하세요

In [ ]:
for a in range(1,20):
  print(a, '선생님 다시는 거짓말을 하지 않겠습니다.')
#종료 숫자 -1에서 종료됨.

1 선생님 다시는 거짓말을 하지 않겠습니다.
2 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
6 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
8 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
12 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
14 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
18 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(1,21):
  print(a, '선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
2 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
6 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
8 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
12 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
14 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
18 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.
20 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(0,20):
  print(a+1, '선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
2 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
6 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
8 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
12 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
14 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
18 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.
20 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(20):
  print(a+1, '선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
2 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
6 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
8 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
12 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
14 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
18 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.
20 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(1,20,2):
  print(a,'선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(1,20,3):
  print(a, '선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for a in range(1,20,4):
  print(a, '선생님 다시는 거짓말을 하지 않겠습니다.')

1 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
for i in range(20):
  print(i, '선생님 다시는 거짓말을 하지 않겠습니다.')

0 선생님 다시는 거짓말을 하지 않겠습니다.
1 선생님 다시는 거짓말을 하지 않겠습니다.
2 선생님 다시는 거짓말을 하지 않겠습니다.
3 선생님 다시는 거짓말을 하지 않겠습니다.
4 선생님 다시는 거짓말을 하지 않겠습니다.
5 선생님 다시는 거짓말을 하지 않겠습니다.
6 선생님 다시는 거짓말을 하지 않겠습니다.
7 선생님 다시는 거짓말을 하지 않겠습니다.
8 선생님 다시는 거짓말을 하지 않겠습니다.
9 선생님 다시는 거짓말을 하지 않겠습니다.
10 선생님 다시는 거짓말을 하지 않겠습니다.
11 선생님 다시는 거짓말을 하지 않겠습니다.
12 선생님 다시는 거짓말을 하지 않겠습니다.
13 선생님 다시는 거짓말을 하지 않겠습니다.
14 선생님 다시는 거짓말을 하지 않겠습니다.
15 선생님 다시는 거짓말을 하지 않겠습니다.
16 선생님 다시는 거짓말을 하지 않겠습니다.
17 선생님 다시는 거짓말을 하지 않겠습니다.
18 선생님 다시는 거짓말을 하지 않겠습니다.
19 선생님 다시는 거짓말을 하지 않겠습니다.

In [ ]:
result = 0
for i in range(1,51):
  result += i
print(result)

1275

In [ ]:
result = 0
for i in range(1,51):
  result += i
  print(result)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275

In [3]:
result = 0
for i in range(101,151):
  result += i
print(result)

6275

In [6]:
result =1
for i in range(1,50):
  result *= i
print(result)

608281864034267560872252163321295376887552831379210240000000000

In [13]:
num = int(input('몇 단을 외울까요?'))
for i in range(1,10):
  print(num, 'x', i, '=', num*i)

몇 단을 외울까요?4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [18]:
import random
print(random.random())

0.46477084510484734

In [30]:
import random
print(random.randrange(1,10,2))

3

In [36]:
import random
print(random.randint(1,10))

7

In [40]:
import random
for i in range(20):
  print(random.randint(0, i))

0
1
0
2
1
1
6
0
5
7
1
11
4
8
3
10
4
17
15
10

In [44]:
print('구구단을 외자! 구구단을 외자!')
import random
for i in range(10):
  a = random.randint(2,9)
  b = random.randint(1,9)
  print(a, 'x', b, '=', a*b)

구구단을 외자! 구구단을 외자!
4 x 2 = 8
9 x 8 = 72
5 x 2 = 10
7 x 5 = 35
5 x 7 = 35
2 x 1 = 2
2 x 2 = 4
5 x 2 = 10
9 x 3 = 27
3 x 6 = 18

In [46]:
import random
print('구구단을 외자! 구구단을 외자!')
for i in range(10):
  a,b = random.randint(2,9), random.randint(1,9)
  print(a, 'x', b, '=', a*b)

구구단을 외자! 구구단을 외자!
9 x 7 = 63
7 x 9 = 63
9 x 3 = 27
5 x 4 = 20
4 x 3 = 12
2 x 9 = 18
4 x 9 = 36
2 x 5 = 10
8 x 6 = 48
5 x 7 = 35

In [49]:
import random
print('구구단을 외자! 구구단을 외자!')
for i in range(10):
  a, b = random.randint(2,9), random.randint(1,9)
  question = str(a) + 'x' + str(b) + '?'
  input(question)

SyntaxError: ignored

In [51]:
###while문###

In [54]:
num = 0
while num < 10:
  num = int(input('숫자입력'))

숫자입력3
숫자입력11

In [56]:
for i in range(1,20):
  print(i, '선생님, 다시는 청소를 빠지지 않겠습니다.')

1 선생님, 다시는 청소를 빠지지 않겠습니다.
2 선생님, 다시는 청소를 빠지지 않겠습니다.
3 선생님, 다시는 청소를 빠지지 않겠습니다.
4 선생님, 다시는 청소를 빠지지 않겠습니다.
5 선생님, 다시는 청소를 빠지지 않겠습니다.
6 선생님, 다시는 청소를 빠지지 않겠습니다.
7 선생님, 다시는 청소를 빠지지 않겠습니다.
8 선생님, 다시는 청소를 빠지지 않겠습니다.
9 선생님, 다시는 청소를 빠지지 않겠습니다.
10 선생님, 다시는 청소를 빠지지 않겠습니다.
11 선생님, 다시는 청소를 빠지지 않겠습니다.
12 선생님, 다시는 청소를 빠지지 않겠습니다.
13 선생님, 다시는 청소를 빠지지 않겠습니다.
14 선생님, 다시는 청소를 빠지지 않겠습니다.
15 선생님, 다시는 청소를 빠지지 않겠습니다.
16 선생님, 다시는 청소를 빠지지 않겠습니다.
17 선생님, 다시는 청소를 빠지지 않겠습니다.
18 선생님, 다시는 청소를 빠지지 않겠습니다.
19 선생님, 다시는 청소를 빠지지 않겠습니다.

In [58]:
i = 1
while i < 20:
  print(i, '선생님, 다시는 청소를 빠지지 않겠습니다.')
  i += 1

1 선생님, 다시는 청소를 빠지지 않겠습니다.
2 선생님, 다시는 청소를 빠지지 않겠습니다.
3 선생님, 다시는 청소를 빠지지 않겠습니다.
4 선생님, 다시는 청소를 빠지지 않겠습니다.
5 선생님, 다시는 청소를 빠지지 않겠습니다.
6 선생님, 다시는 청소를 빠지지 않겠습니다.
7 선생님, 다시는 청소를 빠지지 않겠습니다.
8 선생님, 다시는 청소를 빠지지 않겠습니다.
9 선생님, 다시는 청소를 빠지지 않겠습니다.
10 선생님, 다시는 청소를 빠지지 않겠습니다.
11 선생님, 다시는 청소를 빠지지 않겠습니다.
12 선생님, 다시는 청소를 빠지지 않겠습니다.
13 선생님, 다시는 청소를 빠지지 않겠습니다.
14 선생님, 다시는 청소를 빠지지 않겠습니다.
15 선생님, 다시는 청소를 빠지지 않겠습니다.
16 선생님, 다시는 청소를 빠지지 않겠습니다.
17 선생님, 다시는 청소를 빠지지 않겠습니다.
18 선생님, 다시는 청소를 빠지지 않겠습니다.
19 선생님, 다시는 청소를 빠지지 않겠습니다.